
                                                                        /*General*/
body {
    background-color:#EFEFEF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

                                                                         /*Header*/

.header{ /*Header positioning*/
    padding:1%;
    margin: 1%;
    border-bottom: 3px solid;
    width: 100%;
    background-color: #CAEBF2;
}
.companydescription{
    text-align:center;
}
#strapline {
    font-size: 120%;
}
#companyname{
    font-family:fantasy;
    color: darkgoldenrod;
    text-decoration:none;
    text-align:center;
    font-size:150%;
}


                                                                          /* Navigation bar*/

.navbar{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin:3%;
    text-align:center;
}
ul{
    list-style-type: none; /* No bullet points for links */
}
li{
    display:inline; /* Horizontal list of links */
}

.navbar a {
    color:black;
    text-align: center;
    text-decoration: none; /* Gets rid of automatic hyperlink underline*/
    padding: 2%;
    margin: 3%;
    min-width:50px;
}
.navbar a:hover { /*Navbar links go dark when hovered over*/
    background-color:#dddddd;
    color: black;
}

                                                                            /*Main content*/

.main{
    height: 20%;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 1%;
    padding-left:5%;
    padding-right:5%;
}

#blurb{
    font-size: 120%;
    color:darkgoldenrod
}

h3{
    color:darkgoldenrod;
}

/*New books like Gringer the Whinger*/
.latest{
    padding-top: 1%;
    margin:1%;
    padding:3%;
    width:100%;
    margin:auto;
    text-align:center; /*Centres text*/
}
#gringerpicture{
    width:40%;
    margin-left:auto; /*Centres picture*/
    margin-right:auto; /*Centres picture*/
}
.socialmedia{
    width:5%;
}
                                                                                   /*Footer*/
.footer{
    margin: 0%;
    padding: 1%;
    background-color:#CAEBF2;
    width: 100%;
}

/*Educational books*/

/*Flexbox system start*/
.container{
    width: 80%;
    display:flex; /*Boxes in a line*/
    flex-wrap:wrap; /*Shoves boxes down when small screen*/
    margin-top:3%;
    margin-left:auto; /*Centres div*/
    margin-right:auto;
}
.box{
    width: 350px;
    height: 300px;
    margin-left:auto; /*Centres boxes inside container*/
    margin-right:auto;
}
/*Flexbox system end*/